@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Saol", serif;
  transition-property: opacity, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;

  @apply antialiased;
}

.page-transition {
  opacity: 0;
  filter: blur(8px);
}

@layer utilities {
  .animate-oscillating {
    animation: oscillating 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@layer base {
  @font-face {
    font-family: "Saol";
    font-style: normal;
    src: url(../font/SaolDisplay-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Saol";
    font-style: italic;
    src: url(../font/SaolDisplay-RegularItalic.woff2) format("woff2");
  }
  @font-face {
    font-family: "Pitch";
    font-style: normal;
    src: url(../font/Pitch-regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Pitch-Sans";
    font-style: normal;
    src: url(../font/Pitch-sans-bold.woff2) format("woff2");
  }
}

@font-face {
  font-family: "Eiko";
  font-style: normal;
  src: url(../font/Eiko-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Eiko";
  font-style: italic;
  src: url(../font/Eiko-MediumItalic.woff) format("woff");
}

@font-face {
  font-family: "Eiko";
  font-weight: 500;
  src: url(../font/Eiko-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Focal";
  font-style: normal;
  src: url(../font/Focal-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Focal";
  font-style: italic;
  src: url(../font/Focal-RegularItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Focal";
  font-weight: 300;
  src: url(../font/Focal-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Fraktion";
  font-style: normal;
  src: url(../font/Fraktion-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Fraktion";
  font-weight: 300;
  src: url(../font/Fraktion-Light.woff2) format("woff2");
}
/* Keyframes */

@keyframes grayOut {
  from {
    filter: none;
  }
  to {
    filter: grayscale(90%);
  }
}

@keyframes oscillating {
  0%,
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(2%);
  }
}
