@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Work Sans Variable", Arial, Helvetica, sans-serif;
  transition-property: opacity, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;

  @apply antialiased;
}

.page-transition {
  opacity: 0;
  filter: blur(8px);
}
